$gray: rgb(237, 229, 221);
$light: rgb(240, 240, 240);
$theme-primary: rgb(255, 145, 89);
$theme-primary-light: rgb(255, 171, 128);
$theme-primary-dark: rgb(222, 90, 22);
$dark: rgb(74, 79, 87);

@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

.home {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 150px;
    @include flex(column, initial);
    align-items: center;
    &__options {
        @include flex(column, row);
        gap: 30px;
        padding: 50px 0;
        width: 100%;
    }
    &__btn {
        width: 250px!important;
        color: $light;
        border-radius: 5px;
        box-shadow: 5px 10px 8px #888888;
        background-color: $theme-primary!important;
        @include flex(row, space-around);
        align-items: center;
        i {
            color: $gray!important;
        }
        &:hover {
            color: $theme-primary-dark;
        }
        &--mini {
            width: 125px!important;
            border: none;
            height: 40px;
            padding: 0;
            outline: none;
        }
    }
    &__option {
        align-items: center;
        padding: 50px 0;
        background-color: $gray;
        border-radius: 10px;
        box-shadow: 5px 10px 8px #888888;
        @include flex(column, center);
        > div {
            width: 85%;
            &:first-child {
                @include flex(row, space-between);
            }
            > div {
                width: 50%;
                @include flex(row, space-between);
                align-items: center;
                button {
                    border: none;
                    background-color: transparent;
                    width: 50px;
                    height: 50px;
                    padding: 0;
                    outline: none;
                    i {
                        font-size: 30px;
                        color: $theme-primary;
                    }
                    &:last-child {
                        i {
                            padding-top: 2px;
                            font-size: 40px;
                        }
                    }
                    &:hover {
                        i {
                            color: $theme-primary-dark; 
                        }
                    }
                }
            }
        }
    }
    &__option-content {
        padding: 50px 0;
        display: none;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        img, video{
            width: 100%;
            height: 200px;
            background-color: $dark;
        }
        audio {
            width: 100%;
        }
    }
    &__form {
        position: relative;
        height: 180px;
        background-color: white;
        padding: 20px 50px;
        max-width: 643px;
        border-radius: 5px;
        display: none;
        i {
            position: absolute;
            top: 0;
            right: 0px;
            cursor: pointer;
            font-weight: bold;
            color: $theme-primary;
        }
        > div {
            @include flex(row, initial);
            align-items: center;
            input {
                width: 400px;
                height: 37px;
                font-size: 20px;
                border-radius: 5px;
                border: solid 1px $gray;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                outline: none;
                box-shadow: 5px 10px 8px #888888;
                padding-left: 10px;
            }
            button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

body {
    color: $dark;
    background-color: $light;
}

h2 {
    i {
        margin-right: 10px;
        color: $theme-primary;
    }
}

.invisible-input {
    display: none;
}

button {
    cursor: pointer;
}

.file-container {
    width: 100%!important;
    position: relative;
    i {
        position: absolute;
        top: 0;
        right: 7px;
        cursor: pointer;
        font-weight: bold;
        color: $theme-primary;
    }
}