<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
    <body onload="loadDatabase()">
        <div class="home">
            <div class="home__options">
                <div class="home__option">
                    <div class="home__option-title">
                        <h2><i class="fa fa-picture-o"></i>Galería de fotos</h2>
                        <div class="home__option-buttons">
                            <button class="home__btn" onclick="upload('img')">SUBIR DESDE EL ORDENADOR</button>
                            <button class="home__btn" onclick="openModal('image')">SUBIR DESDE LA WEB</button>
                            <button onclick="toggleContainer('imgDropdown')"><i class="material-icons">keyboard_arrow_down</i></button>
                        </div>
                    </div>
                    <div class="home__dropdown" id="imgDropdown">
                        <h3>Subidos desde el ordenador</h3>
                        <div class="home__option-content" id="imgContainer">
                        
                        </div>
                        <h3>Subidos desde la web</h3>
                        <div class="home__option-content" id="imgContainerUrl">
                            
                        </div>
                    </div>
                </div>
                <div class="home__option">
                    <div class="home__option-title">
                        <h2><i class="fa fa-video-camera"></i>Galería de videos</h2>
                        <div class="home__option-buttons">
                            <button class="home__btn" onclick="upload('video')">SUBIR DESDE EL ORDENADOR</button>
                            <button class="home__btn" onclick="openModal('video')">SUBIR DESDE LA WEB</button>
                            <button onclick="toggleContainer('videoDropdown')"><i class="material-icons">keyboard_arrow_down</i></button>
                        </div>
                    </div>
                    <div class="home__dropdown" id="videoDropdown">
                        <h3>Subidos desde el ordenador</h3>
                        <div class="home__option-content" id="videoContainer">
                        
                        </div>
                        <h3>Subidos desde la web</h3>
                        <div class="home__option-content" id="videoContainerUrl">
                            
                        </div>
                    </div>
                </div>
                <div class="home__option">
                    <div class="home__option-title">
                        <h2><i class="fa fa-music"></i>Galería de audios</h2>
                        <div class="home__option-buttons">
                            <button class="home__btn" onclick="upload('audio')">SUBIR DESDE EL ORDENADOR</button>
                            <button class="home__btn" onclick="openModal('audio')">SUBIR DESDE LA WEB</button>
                            <button onclick="toggleContainer('audioDropdown')"><i class="material-icons">keyboard_arrow_down</i></button>
                        </div>
                    </div>
                    <div class="home__dropdown" id="audioDropdown">
                        <h3>Subidos desde el ordenador</h3>
                        <div class="home__option-content" id="audioContainer">
                            
                        </div>
                        <h3>Subidos desde la web</h3>
                        <div class="home__option-content" id="audioContainerUrl">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="home__form" id="imageModal">
                <h2>Ingrese una URL</h2>
                <i class="material-icons" onclick="closeModal('image')">close</i>
                <div>
                    <input type="text" id="imageInput">
                    <button class="home__btn home__btn--mini" onclick="saveImgURL()">AGREGAR</button>
                </div>
            </div>
            <div class="home__form" id="videoModal">
                <h2>Ingrese una URL</h2>
                <i class="material-icons" onclick="closeModal('video')">close</i>
                <div>
                    <input type="text" id="videoInput">
                    <button class="home__btn home__btn--mini" onclick="saveVideoURL()">AGREGAR</button>
                </div>
            </div>
            <div class="home__form" id="audioModal">
                <h2>Ingrese una URL</h2>
                <i class="material-icons" onclick="closeModal('audio')">close</i>
                <div>
                    <input type="text" id="audioInput">
                    <button class="home__btn home__btn--mini" onclick="saveAudioURL()">AGREGAR</button>
                </div>
            </div>
        </div>
        <input type="file" class="invisible-input" id="imgUploader" oninput="saveImg()">
        <input type="file" class="invisible-input" id="videoUploader" oninput="saveVideo()">
        <input type="file" class="invisible-input" id="audioUploader" oninput="saveAudio()">
        <script src="../scripts/index.js"></script>
    </body>
</html>